@import "./ListMovie.css";

.deleteButton {
  background-color: #1F1F1F;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.deleteButton:hover {
  background-color: #3B3B3B;
  
}

@media (max-width: 900px) {
  .deleteButton {
    font-size: 0.8rem;
  }
}
